
//colors
$primary: #114d4d;
$secondary: #49ada1;
$secondary-light: #b8dbd7;
$background: #fbf8f2;
$text: #495057;
$text-light: #87a5a5;
$error: #e96160;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
